.Rproj.user
.Rhistory
.RData
.DS_Store
.Rcache/
.httr-oauth
*.prof
*.out
*.xz
*.gz
*.tar.gz
*.tar.xz
data-raw/*
!data-raw/.gitkeep
data-raw2/*
!data-raw2/.gitkeep
data-processed/*
!data-processed/.gitkeep
rasters/*
!rasters/.gitkeep
